.pagination__container {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pagination__page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
  background-color: white;
}

.pagination__page.current {
  border: 2px solid orange;
  font-weight: bold;
}
